body {
    font-family: 'Roboto', sans-serif;
        
    background-color: #FFFFFF;
    }
    ul{
        list-style: none;
    }

    :root{

        --brandcolor: #2E2F42;
        --colorlight: #FFFFFF;
        --colorsky: #4D5AE5;
        --colordurk: #434455;

        --font-secondary: "Raleway" sans-serif;
        


    }

/* ---------------------------Studio Studio------------------------ */

/* ----------------------------section hero-------------------------- */
.hero{

    background-color: var(--brandcolor);
}

.hero_title{

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--colorlight);
}

.hero_button{
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: var(--colorlight);
    background-color: var(--colorsky);
}

.hero_button:hover,
.hero_button:focus{
    color: var(--colorlight);
    background-color: #404BBF;
}

/* -------------------personalities webstudio-------------- */

.visually-hidden{

    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1;
}

.description_list_item{

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brandcolor);
}

.description_text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--colordurk);
}

/* ---------------------Activity title------------------- */
.activity_title{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--brandcolor);
}

/* --------------------Team---------------------------- */

.team{
background-color: #F4F4FD;

}

.team_title{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--brandcolor);
}

.team_list_item{

    background-color: #FFFFFF;
}

.name{

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brandcolor);
}

.position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colordurk);
}
/* -----------------------Portfolio Portfolio---------------------------- */

/* --------------------Header-------------------------- */
.three-letters{
    color: var(--colorsky);
}

.logo-link{
    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    Letter-spacing: 0.03em;
    color: var(--brandcolor);
}

.header-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brandcolor);
}

.header-link:hover,
.header-link:focus{
color: var(--colorsky);
}

.header-contacts__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--colordurk);
    
}

.header-contacts__link:hover,
.header-contacts__link:focus{
color: var(--colorsky);
}

/* -----------------------Filtr portfolio------------------------- */

.button-filtr{

    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--colorsky);
    background-color: #E7E9FC;

}

.button-filtr:hover,
.button-filtr:focus{
    color: var(--colorlight);
    background-color:  var(--colorsky);
}

/* ---------------------Portfolio section----------------------------- */

.prfolio_list_link{

    text-decoration: none;
}

.portfolio_list_item{

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brandcolor);
}

.portfolio_list_filtr{

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colordurk);
}

/* -----------------------footer------------------------------- */
.footer{
    background-color: var(--brandcolor);
}
.logo_link_footer{

    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.three_letters_footer{

    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--colorsky);
}

.footer_description{

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
